body {
    background-image: url(images/fond.png);
    background-position: bottom;
    background-size: cover;
}
.slide {
    width: 100vw;
    height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: row;
    width: 400vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}

.one {
    background-image: url(images/site/1.png);
    background-position: bottom;
    background-size: cover;

}

.two {
    background-image: url(images/site/2-2.png);
    background-position: bottom;
    background-size: cover;
}

.three {
    background-image: url(images/site/3.png);
    background-position: bottom;
    background-size: cover;
}

.four {

}

.outer-wrapper {
    width : 100vh;
    height : 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y : scroll;
    overflow-x : hidden;
    position : absolute;
    scrollbar-width : none;
    -ms-overflow-style : none;
}
::-webkit-scrollbar {
    display : none;
}