body {
    background-image: url(images/fond.png);
    background-position: bottom;
    background-size: cover;
}

button {
    width:85px;
	height:85px;
	background:#fafafa;
	box-shadow:2px 2px 8px #aaa;
	font:bold 13px Arial;
	border-radius:50%;
    color:#555;
    margin: 10px;
}

.boutons {
    position: absolute;
    top: 20px;
    right: 20px;
}

.slide {
    width: 90vw;
    height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: row;
    width: 270vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}

.one {
    background-image: url(images/site/1.png);
    background-position: bottom;
    background-size: initial;
    background-repeat: repeat-x;
    position: relative;

}

.two {
    background-image: url(images/site/2.png);
    background-position: bottom;
    background-size: initial;
    background-repeat: repeat-x;
    position: relative;
}

.three {
    background-image: url(images/site/3.png);
    background-position: bottom;
    background-size: 100%;
    background-size: initial;
    background-repeat: repeat-x;
    position: relative;
}

.outer-wrapper {
    width : 100vh;
    height : 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y : scroll;
    overflow-x : hidden;
    position : absolute;
    scrollbar-width : none;
    -ms-overflow-style : none;
}
::-webkit-scrollbar {
    display : none;
}